.toastStyle {
    position: fixed;
    display: flex;
    width: 300px;
    height: 70px;
    top: 20px;
    right: 20px;
    background-color: white;
    /* Đổi màu nền thành trắng */
    padding: 10px;
    border-radius: 4px;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Đổ bóng nhẹ */
    border: 1px solid #ccc;
    /* Thêm border */
}

.content{
   margin-left: 20px;
}

.title{
    color: #4CAF50;
    font-size: large;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
}

.square{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #4CAF50;
}